<!-- <div class="container">
  <div class="row">
    <div class="col-md-3"  *ngFor="let product of productList">
      <div class="card mb-2">
        <img [src]="product.prodImg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">{{product.prodName}}</h2>
          <p class="card-text">{{product.prodPrice}}</p>
          <div>
            <button class="btn btn-secondary" (click)="decreaseQuantity()" [disabled]="quantity == 0">-</button>
            <span class="mx-2">{{product.prodQua}}</span>
            <button class="btn btn-secondary" (click)="increaseQuantity()">+</button>
          </div>
          <button class="btn btn-primary mt-2" (click)="addProductDetail()">Add to bag</button>
        </div>
      </div>    
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>My Shopping Bag</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price Details</th>
            <th scope="col">Order Total</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor=" let prod of productDetails">
            <th>{{prod.prodName}}</th>
            <td>{{prod.prodQua}}</td>
            <td>{{prod.prodPrice}}</td>
            <td>{{prod.prodQua}}</td>
            <td><button class="btn btn-danger">*</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->